<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
<h2>This is my first page</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque debitis ducimus, expedita facere illum nesciunt nisi nulla perspiciatis quae quaerat repellendus sit vero voluptatum. Architecto atque consequuntur ex odit. Non!</span><span>Animi ducimus earum harum impedit incidunt, officiis quo repellat ullam unde. Consectetur corporis cupiditate doloribus nam natus omnis possimus sunt tenetur. Commodi culpa dolore doloremque doloribus exercitationem molestiae ullam voluptas?</span><span>Alias deserunt fugit in magnam nihil nobis nostrum quis sed unde. Atque modi molestias natus quaerat quo. Aliquid animi incidunt ipsa magnam molestiae officia quo recusandae suscipit? Ipsa, maiores nobis?</span></p>

</body>
</html>